@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    color: aliceblue;
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --back: #0827f5;
    --accent: #c3c3c3;
}

section {
    min-height: 100dvh;
    background: blue;
}

#main {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.ticker {
    white-space: nowrap;
    display: flex;
    gap: 5rem;
}

.ticker li {
    font-size: 20em;
    line-height: 10px;
    margin-bottom: 0;
    transform: scale(1, 2.5);
}

.ticker ul {
    list-style: none;
    display: flex;
    gap: 5rem;

    animation: rtl 30s linear infinite;
}

@keyframes rtl {
    to {
        transform: translateX(calc(-100% - 5rem));
    }
}

.section-name {
    overflow: hidden;
    opacity: 0;

    animation: fade-in linear;
    animation-timeline: view(y);
}

.section-name ul {
    display: flex;
    transform: translateX(-10%);
    white-space: nowrap;
    gap: 2rem;
}

#html {
    display: flex;
    flex-direction: column;
    position: relative;
}

.section-main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    margin-top: .5em;
    box-shadow: black 5px 5px;
    background: var(--accent);
    padding: 1em;
    text-decoration: none;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

/* oh yeah... shit */
.hidden {
    display: none;
    background: black;
    height: 100dvh;
}

.hidden > div {
    position: absolute;
    /* how do i center a div? */
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    /* i fucked up */
    text-align: center;
    white-space: nowrap;
}

@media (max-width: 485px) {
    .content {
        display: none;
    }

    .hidden {
        display: block;
    }
}